/*-----------------------------------------*\
  #BUTTON
\*-----------------------------------------*/

.btn {
  width: 7.5rem;
  height: 2rem;
  border-radius: 3.125rem;
  border: 0.125rem solid var(--gray-bold-color);
  text-align: center;
  color: var(--gray-bold-color);
  font-family: var(--secondary-font);
  font-weight: var(--font-weight-regular);
  line-height: normal;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 768px) {
  .btn {
    height: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .btn {
    font-size: var(--font-size-base);
    letter-spacing: calc(1 * var(--px-to-rem));
    height: 3rem;
  }
}
