/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

.navbar {
  position: absolute;
  top: 90%;
  left: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: var(--white-color);
  padding-left: 2rem;
  z-index: 2;
}

.navbar.active {
  display: flex;
  gap: 0.5rem;
}

.hamburger-icon {
  transition: transform 0.3s ease;
}

.hamburger-icon.active {
  transform: rotate(90deg);
}

.navbar-item {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: calc(14 * var(--px-to-rem));
  line-height: calc(23 * var(--px-to-rem));
  letter-spacing: calc(1 * var(--px-to-rem));
  color: var(--gray-bold-color);
  text-transform: uppercase;
}

.navbar-item:hover {
  color: var(--orange-color);
}

@media (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }

  .navbar {
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
    gap: calc(10 * var(--px-to-rem));
    padding-left: 0rem;
  }

  .navbar-item {
    line-height: calc(30 * var(--px-to-rem));
  }
}

@media (min-width: 1440px) {
  .navbar-item {
    font-size: calc(18 * var(--px-to-rem));
  }

  .navbar {
    gap: calc(32 * var(--px-to-rem));
    margin-top: calc(16 * var(--px-to-rem));
  }
}
