/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  text-transform: uppercase;
}

.menu-item {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-lg);
  line-height: 27px;
  letter-spacing: 1px;
  color: var(--gray-bold-color);
}

.menu-item:hover {
  color: var(--orange-color);
}
