/*------------------------------------*\
  #REACTION
\*------------------------------------*/

.reaction-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.reaction-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
