/*------------------------------------*\
  #FOOTER SECTION
\*------------------------------------*/

.main-footer {
  background: var(--black-color);
  width: 100%;
  padding-top: 105px;
  padding-bottom: 91px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: var(--white-color);
}

.footer-list .description {
  opacity: 0.5;
  color: inherit;
}

.footer-list .menu-item {
  color: inherit;
}

.footer-list .menu-item:hover {
  color: var(--brown-color);
}

.footer-contact-us,
.footer-follow-us,
.footer-about-us {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 350px;
}

.footer-contact-us {
  margin-bottom: 42px;
}

.footer-follow-us {
  margin-bottom: 81px;
}

.footer-list .footer-follow-us {
  gap: 32px;
}

.footer-follow-us {
  margin-left: 119px;
  margin-right: 155px;
}

.footer-about-us {
  margin-bottom: 66px;
}

.item-title {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-lg);
  letter-spacing: 1px;
  color: inherit;
  text-transform: uppercase;
}

.address {
  display: flex;
  flex-direction: row;
  gap: 54px;
}

.address .description {
  max-width: 121.835px;
}

.socials {
  display: flex;
  gap: 43px;
}

.social-icon {
  display: block;
  width: 24px;
  height: 25px;
  opacity: 0.5;
}

.footer-separator {
  width: 1140px;
  height: 1px;
  background-color: var(--white-color);
  border-style: solid;
}

.footer-copyright {
  margin-top: 29px;
}

.footer-menu {
  margin-left: 156px;
  margin-right: 210px;
  margin-top: 38px;
}

.btn-go-top {
  margin-top: 24px;
  border: none;
  cursor: pointer;
  background: transparent;
}
