/*------------------------------------*\
  #FOOTER SECTION
\*------------------------------------*/

.footer {
  background: var(--black-color);
  width: 100%;
  padding-top: 105px;
  padding-bottom: 91px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  color: var(--white-color);
}

.footer-list .description {
  opacity: 0.5;
  color: inherit;
}

.footer-list .menu-item {
  color: inherit;
}

.footer-list .menu-item:hover {
  color: var(--red-color);
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 350px;
}

.item-title {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-lg);
  letter-spacing: 1px;
  color: inherit;
  text-transform: uppercase;
}

.address {
  display: flex;
  flex-direction: row;
  gap: 54px;
}

.address .description {
  max-width: 121.835px;
}

.socials {
  display: flex;
  gap: 43px;
}

.social-icon {
  display: block;
  width: 24px;
  height: 25px;
  opacity: 0.5;
}

.footer-separator {
  width: 100%;
  height: 1px;
  background-color: var(--white-color);
  border-style: solid;
  margin-top: 42px;
  margin-bottom: 38px;
}

.btn-go-top {
  border: none;
  cursor: pointer;
  background: transparent;
}
