.footer-background {
  background-color: var(--black-color);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 105px;
  padding-bottom: 91px;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: var(--white-color);
}

.footer-list .description {
  opacity: 0.5;
  color: inherit;
}

.footer-list .menu-item {
  color: inherit;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item-title {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-lg);
  letter-spacing: 1px;
  color: inherit;
  text-transform: uppercase;
}

.address {
  display: flex;
  flex-direction: row;
  gap: 54px;
}

.address .description {
  max-width: 133px;
  max-height: 77px;
}

.socials {
  display: flex;
  gap: 43px;
}
.social-icon {
  opacity: 0.5;
}

.footer-separator {
  width: 100%;
  height: 1px;
  background-color: var(--white-color);
  border-style: solid;
  margin-top: 42px;
  margin-bottom: 38px;
}
