/*------------------------------------*\
  #HEADER SECTION
\*------------------------------------*/

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-menu {
  padding-top: 32px;
  padding-bottom: 25px;
}

.header-logo {
  width: 143px;
  height: 84px;
}
