/*------------------------------------*\
  #HERO SECTION
\*------------------------------------*/

.hero {
  height: 585px;
  background-image: url("../../images/background/hero.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}

.hero .section-title {
  color: var(--white-color);
  margin-bottom: 33px;
}

.hero-description {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: 30px;
  line-height: 24px;

  width: 555px;
}

.hero .btn {
  margin-top: 32px;
  font-size: var(--font-size-base);
  background-color: var(--brown-color);
  border: 0px solid var(--gray-dark-color);
  color: var(--black-color);
  transition: background-color 0.2s;
}

.hero .btn:hover {
  background-color: var(--white-color);
}
