/*------------------------------------*\
  #PLACES SECTION
\*------------------------------------*/

.places {
  padding-top: 64px;
  padding-bottom: 85px;
}

.places .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

.places-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.places .menu {
  gap: 55px;
}

.places .menu-item {
  color: var(--gray-bold-color);
  transition: color 0.3s;
}

.places .menu-item:hover {
  color: var(--red-color);
}

.places-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.card-inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.card-item {
  width: 300px;
  height: 300px;
}
