/*------------------------------------*\
  #PORTFOLIO SECTION
\*------------------------------------*/

.portfolio {
  padding-top: 66px;
  padding-bottom: 71px;
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 54px;
}

.portfolio-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-square {
  width: 380px;
}

.card-rectangle {
  width: 760px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
}

.pagination {
  text-align: center;
  padding: 4px 0;
}

.pagination-item {
  display: inline-block;
  text-align: center;
  width: 30px;
  border-radius: 32px;
  color: var(--gray-bold-color);
  background-color: var(--white-color);
  font-family: var(--secondary-font);
  font-weight: var(--font-weight-regular);
  line-height: 24px;
}

.pagination-item:hover {
  color: var(--brown-color);
  border-radius: 32px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.pagination-icon {
  width: 7px;
}

.pagination-item,
.pagination-icon {
  margin: 0 7px;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
  position: absolute;
  z-index: 1;
  color: var(--white-color);
  top: 15%;
  left: 50%;
  visibility: hidden;
  transition: visibility 0.1s;
}

.info-card-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 31px;
}

.hover-text-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.title {
  font-family: var(--secondary-font);
  font-weight: var(--font-weight-bold);
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.8px;
}

.datetime {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-lg);
  line-height: 30px;
  letter-spacing: 1px;
}

.rectangle {
  width: 32px;
  height: 6px;
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
}

.info-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.info-card .description {
  max-width: 300px;
}

.info-card .reaction {
  color: var(--white-color);
}

.info-card .reaction-layout {
  justify-content: flex-start;
}

.icon-white {
  filter: invert(100%);
}

.card-rectangle-container:hover .info-card {
  visibility: visible;
}

.card-square-container .info-card {
  left: 15%;
}

.card-square-container:hover .info-card {
  visibility: visible;
}

.card-rectangle-container {
  display: block;
  position: relative;
  width: 760px;
  height: 380px;
}

.card-rectangle-container::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.1s;
}
.card-rectangle-container:hover::before {
  opacity: 0.4;
}

.card-square-container,
.card-detail {
  display: block;
  position: relative;
  width: 380px;
  height: 380px;
}

.card-square-container::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.1s;
}
.card-square-container:hover::before {
  opacity: 0.4;
}

.metadata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 31px;
  position: absolute;
  top: 10%;
  left: 14%;
}
.topic {
  font-family: var(--secondary-font);
  font-size: 64px;
  font-weight: var(--font-weight-bold);
  line-height: 54px;
  letter-spacing: -2px;
  max-width: 221px;
  color: var(--white-color);
}

.metadata-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.type {
  font-family: var(--secondary-font);
  font-size: 32px;
  font-weight: var(--font-weight-bold);
  line-height: 42px;
  letter-spacing: -0.8px;
  max-width: 252px;
  color: var(--white-color);
}

.author {
  color: var(--white-color);
  font-family: var(--primary-font);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  line-height: 30px;
  letter-spacing: 1px;
  max-width: 156px;
  text-transform: uppercase;
}
