/*------------------------------------*\
  #PROJECTS SECTION
\*------------------------------------*/

.projects {
  padding-top: 45px;
  padding-bottom: 49px;
}

.projects .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-menu {
  margin-top: 33px;
  margin-bottom: 40px;
}

.projects .menu {
  gap: 41px;
}

.projects .menu-item {
  color: var(--gray-bold-color);
  transition: color 0.2s;
}

.projects .menu-item:hover {
  color: var(--orange-color);
}

.projects-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 23px;
  flex-wrap: wrap;
}

.project-card-item {
  display: flex;
  flex-direction: column;
  width: 262px;
  height: 262px;
  border-radius: 8px;
  background-color: var(--white-color);
  border: 1px solid var(--gray-light-color);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  gap: 18px;
  transition: box-shadow 0.1s;
}

.card-bg {
  width: 262px;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
}

.reaction-item .reaction {
  color: var(--gray-color);
}

.project-card-item:hover {
  box-shadow: none;
}
