/*------------------------------------*\
  #CSS VARIABLES
\*------------------------------------*/
:root {
  --root-font-size: 16;
  --px-to-rem: calc(1rem / var(--root-font-size));
  /* Font-Family */
  --primary-font: "Abel";
  --secondary-font: "Montserrat";

  /* Colors */
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #7d7d7d;
  --gray-bold-color: #4b4b4b;
  --gray-dark-color: #979797;
  --brown-color: #ebcb80;
  --orange-color: #e8b229;

  /* Font-Size */
  --font-size-4xl: 2.25rem;
  --font-size-3xl: 2rem;
  --font-size-2xl: 1.5rem;
  --font-size-xl: 1.25rem;
  --font-size-lg: 1.125rem;
  --font-size-base: 1rem;
  --font-size-xs: 0.75rem;
  --font-size-xxs: calc(11 * var(--px-to-rem));
  --font-size-3xs: 0.625rem;

  /* Font-Weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
