/*-----------------------------------------*\
  #GLOBAL CLASS
\*-----------------------------------------*/

html {
  font-size: 16px;
}

* {
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: calc(290 / 16 * 1rem);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 45rem;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 71.25rem;
  }
}
