/*-----------------------------------------*\
      #TEXT CLASSES
\*-----------------------------------------*/

.section-title {
  font-family: var(--secondary-font);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  line-height: 2.5rem;
  letter-spacing: calc(-0.5 / 16 * 1rem);
}

.section-description {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xxs);
  line-height: 1rem;
}

@media (min-width: 1440px) {
  .section-description {
    font-size: var(--font-size-base);
    line-height: calc(24 / 16 * 1rem);
  }
}

/*-----------------------------------------*\
    #SET FONT FAMILY
\*-----------------------------------------*/

@font-face {
  font-family: "Abel";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Abel-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
}
