/*-----------------------------------------*\
  #FOOTER
\*-----------------------------------------*/

.main-footer {
  width: 100%;
  height: 21.25rem;
  background-color: var(--gray-bold-color);
  background-size: cover;
}

.footer-info {
  margin-top: 2rem;
  column-gap: calc(25 * var(--px-to-rem));
  row-gap: calc(33 * var(--px-to-rem));
}

.footer-contact-title,
.footer-follow-title,
.footer-about-title {
  color: var(--white-color);
  font-family: var(--primary-font);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: normal;
  letter-spacing: calc(0.8 * var(--px-to-rem));
  text-transform: uppercase;
}

.footer-contact-title {
  margin-bottom: 1rem;
}

.footer-follow-title {
  margin-bottom: calc(21 * var(--px-to-rem));
}

.footer-contact .section-description,
.footer-about .section-description,
.footer-copyright .copyright,
.go-top-button .section-description {
  color: var(--white-color);
  opacity: 0.5;
}

.social {
  display: flex;
  flex-direction: row;
  gap: calc(21.62 * var(--px-to-rem));
}

.social-item-facebook,
.social-item-pinterest {
  width: 1rem;
  height: 1rem;
}

.social-item-twitter {
  width: 1.25rem;
  height: 1rem;
}

.social-item-facebook,
.social-item-pinterest,
.social-item-twitter {
  opacity: 0.5;
  position: relative;
}

.social-item-facebook::before,
.social-item-pinterest::before,
.social-item-twitter::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.1s;
}

.social-item-facebook:hover::before,
.social-item-pinterest:hover::before,
.social-item-twitter:hover::before {
  opacity: 0.5;
}

.social-item-facebook::before {
  background-color: #1877f2;
}

.social-item-pinterest::before {
  background-color: #bd081c;
  border-radius: 1rem;
}

.social-item-twitter::before {
  background-color: #1da1f2;
  border-radius: 0.5rem;
}

.footer-about-title {
  margin-bottom: calc(17 * var(--px-to-rem));
}

.footer-copyright {
  display: grid;
  grid-template-areas:
    "navbar navbar"
    "copyright gotopbutton";
  row-gap: calc(20 * var(--px-to-rem));
  column-gap: calc(75 * var(--px-to-rem));
  border-top: calc(1 * var(--px-to-rem)) solid var(--white-color);
  margin-top: calc(19 * var(--px-to-rem));
  padding-top: calc(12 * var(--px-to-rem));
}

.footer-navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  gap: calc(10 * var(--px-to-rem));
}

.footer-navbar .section-description {
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: calc(0.4 * var(--px-to-rem));
}

.footer-navbar .section-description:hover {
  color: var(--orange-color);
}

.copyright {
  grid-area: copyright;
}

.go-top-button {
  display: flex;
  flex-direction: row;
  grid-area: gotopbutton;
  justify-content: space-between;
}

.btn-go-top {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}

@media (min-width: 768px) {
  .main-footer {
    height: calc(176 * var(--px-to-rem));
  }

  .footer-info {
    margin-top: calc(17 * var(--px-to-rem));
    display: flex;
    gap: 0 3.875rem;
  }

  .footer-contact-title {
    margin-bottom: calc(16.49 * var(--px-to-rem));
  }

  .address-content {
    display: grid;
    grid-template-columns: repeat(2, calc(125 * var(--px-to-rem)));
  }

  .footer-follow-title {
    margin-bottom: calc(21 * var(--px-to-rem));
  }

  .footer-about {
    margin-left: calc(30.22 * var(--px-to-rem));
  }

  .footer-about-title {
    margin-bottom: calc(17.04 * var(--px-to-rem));
  }

  .footer-copyright {
    display: flex;
    flex-direction: row;
    gap: 0 calc(96 * var(--px-to-rem));
    width: 100%;
    margin-top: calc(28 * var(--px-to-rem));
    padding-top: calc(15 * var(--px-to-rem));
  }

  .copyright {
    margin-top: calc(4 * var(--px-to-rem));
  }

  .footer-navbar {
    margin-top: calc(3 * var(--px-to-rem));
    gap: 1rem;
  }

  .go-top-button {
    margin-left: calc(88 * var(--px-to-rem));
  }
}

@media (min-width: 1440px) {
  .main-footer {
    height: calc(424 * var(--px-to-rem));
    background-color: rgba(0, 0, 0, 0.66);
  }

  .separator {
    width: calc(1140 * var(--px-to-rem));
    margin-bottom: calc(10 * var(--px-to-rem));
  }

  .footer-info {
    margin-top: calc(99 * var(--px-to-rem));
    column-gap: calc(127 * var(--px-to-rem));
  }

  .address-content {
    grid-template-columns: calc(133 * var(--px-to-rem)) calc(
        173 * var(--px-to-rem)
      );
    column-gap: calc(54 * var(--px-to-rem));
  }

  .footer-contact-title,
  .footer-follow-title,
  .footer-about-title {
    font-size: calc(18 * var(--px-to-rem));
    line-height: calc(24 * var(--px-to-rem));
  }

  .footer-contact-title,
  .footer-about-title {
    margin-bottom: calc(24 * var(--px-to-rem));
  }

  .footer-follow-title {
    margin-bottom: calc(32 * var(--px-to-rem));
  }

  .social {
    gap: calc(43 * var(--px-to-rem));
  }

  .social-item-facebook,
  .social-item-pinterest {
    width: calc(24 * var(--px-to-rem));
    height: calc(25 * var(--px-to-rem));
  }

  .social-item-twitter {
    width: calc(30 * var(--px-to-rem));
    height: calc(25 * var(--px-to-rem));
  }

  .footer-about {
    margin-left: 0rem;
  }

  .footer-copyright {
    gap: calc(156 * var(--px-to-rem));
    margin-top: calc(43 * var(--px-to-rem));
    padding-top: calc(24 * var(--px-to-rem));
  }

  .copyright {
    margin-top: calc(5 * var(--px-to-rem));
  }

  .footer-navbar {
    margin-top: calc(14 * var(--px-to-rem));
    gap: calc(30.33 * var(--px-to-rem));
  }

  .footer-navbar .section-description {
    font-size: calc(18 * var(--px-to-rem));
    line-height: calc(27 * var(--px-to-rem));
    letter-spacing: calc(1 * var(--px-to-rem));
  }

  .btn-go-top {
    width: calc(36 * var(--px-to-rem));
    height: calc(36 * var(--px-to-rem));
  }
}
