/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

.navbar-menu {
  position: absolute;
  top: 90%;
  left: 3%;
  display: none;
  flex-direction: column;
  width: calc(270 / 16 * 1rem);
  background-color: var(--white-color);
}

.navbar-menu.active {
  display: flex;
}

.navbar-icon {
  transition: transform 0.3s ease;
}

.navbar-icon.active {
  transform: rotate(90deg);
}

.navbar-menu-item {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: calc(14 / 16 * 1rem);
  line-height: calc(23 / 16 * 1rem);
  letter-spacing: calc(1 / 16 * 1rem);
  color: var(--gray-bold-color);
  text-transform: uppercase;
}

.navbar-menu-item:hover {
  color: var(--orange-color);
}

@media (min-width: 768px) {
  .navbar-icon {
    display: none;
  }

  .navbar-menu {
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
    gap: calc(10 / 16 * 1rem);
  }

  .navbar-menu-item {
    line-height: calc(30 / 16 * 1rem);
  }
}

@media (min-width: 1440px) {
  .navbar-menu-item {
    font-size: calc(18 / 16 * 1rem);
  }

  .navbar-menu {
    gap: calc(32 / 16 * 1rem);
    margin-top: calc(16 / 16 * 1rem);
  }
}
