/*------------------------------------*\
  #HERO SECTION
\*------------------------------------*/

.hero {
  width: 100%;
  height: calc(312 * var(--px-to-rem));
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../assets/images/background.png") no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-top: calc(50 * var(--px-to-rem));
  padding-bottom: calc(103.65 * var(--px-to-rem));
}

.hero-content {
  color: var(--white-color);
}

.hero-content .section-description {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.hero-content .btn {
  width: 8.75rem;
  background-color: var(--brown-color);
  border: unset;
}

.hero-content .btn:hover {
  background-color: var(--white-color);
}

@media (min-width: 768px) {
  .hero {
    height: calc(314 * var(--px-to-rem));
    padding-top: calc(57 * var(--px-to-rem));
    padding-bottom: calc(89.6 * var(--px-to-rem));
  }

  .hero-content .section-description {
    margin-top: calc(26 * var(--px-to-rem));
    margin-bottom: calc(41 * var(--px-to-rem));
  }
}

@media (min-width: 1440px) {
  .hero {
    height: calc(585 * var(--px-to-rem));
    padding-top: calc(163 * var(--px-to-rem));
    padding-bottom: calc(192 * var(--px-to-rem));
  }

  .hero-content .section-description {
    margin-top: calc(40 * var(--px-to-rem));
    margin-bottom: 5rem;
    font-size: calc(30 * var(--px-to-rem));
    line-height: 1.5rem;
  }

  .hero-content .btn {
    width: calc(210 * var(--px-to-rem));
  }
}
