/*------------------------------------*\
  #PLACES SECTION
\*------------------------------------*/

.places {
  padding-top: 37px;
  padding-bottom: 40px;
}

.places .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.places .dropdown {
  margin-top: 18px;
  margin-bottom: 25px;
}

.places__tab {
  display: none;
}

.places__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.places img {
  width: 100%;
}

.card__item {
  width: 116px;
  height: 116px;
}

@media (min-width: 768px) {
  .places {
    padding-top: 41px;
    padding-bottom: 48px;
  }

  .places__card {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px 10px;
  }

  .card__item {
    width: 192px;
    height: 192px;
  }

  .places .section-title {
    font-size: 32px;
    line-height: 40px;
  }

  .places .dropdown {
    display: none;
  }

  .places__tab {
    display: block;
    margin-top: 11px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .places {
    padding-top: 67px;
    padding-bottom: 85px;
  }

  .places__card {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 24px;
  }

  .card__item {
    width: 300px;
    height: 300px;
  }

  .places .section-title {
    font-size: 44px;
    line-height: 48px;
  }

  .places .dropdown {
    display: none;
  }

  .places__tab {
    display: block;
    margin-top: 20px;
    margin-bottom: 29px;
  }

  .places .tab {
    gap: 55px;
  }

  .places .tab__item {
    font-size: var(--font-size-lg);
    line-height: 27px;
    letter-spacing: 1px;
  }
}
