/*------------------------------------*\
  #PROJECTS SECTION
\*------------------------------------*/

.projects {
  padding-top: 1.75rem;
  padding-bottom: calc(29.22 * var(--px-to-rem));
}

.projects .dropdown {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.projects .select-box {
  padding-left: 1.1rem;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(13.04 * var(--px-to-rem)) 0.625rem;
}

.project {
  position: relative;
  width: 8.75rem;
  height: calc(106.96 * var(--px-to-rem));
  cursor: pointer;
}

.project::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.1s;
}

.project:hover::before {
  opacity: 0.6;
}

.project .reaction {
  position: absolute;
  top: 13%;
  left: 31%;
  z-index: 2;
  visibility: hidden;
  transition: visibility 0.1s;
}

.project:hover .reaction {
  visibility: visible;
}

.reaction .reaction-item {
  color: var(--white-color);
  gap: 0.375rem;
  font-size: var(--font-size-3xs);
}

.project .reaction-desktop {
  position: absolute;
  top: 82%;
  left: 9.75%;
}

.project-img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .projects {
    padding-top: 2rem;
    padding-bottom: calc(49 * var(--px-to-rem));
  }

  .projects .section-title {
    font-size: var(--font-size-3xl);
    letter-spacing: calc(-0.8 * var(--px-to-rem));
  }

  .projects .dropdown {
    display: none;
  }

  .projects .tab {
    margin-top: 1.25rem;
    margin-bottom: calc(27 * var(--px-to-rem));
    gap: 1.75rem;
  }

  .projects .tab-item {
    letter-spacing: calc(1.5 * var(--px-to-rem));
  }

  .projects-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1.875rem;
  }

  .project {
    width: 13.75rem;
    height: 14rem;
    background-color: var(--white-color);
  }

  .project::before {
    display: none;
  }

  .project::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }

  .project:hover::after {
    box-shadow: 0px 0px 0.6px 0px rgba(0, 0, 0, 1);
  }

  .project-img {
    height: calc(167.94 / 16 * 1rem);
  }

  .project .reaction {
    position: absolute;
    top: 82%;
    left: 9.75%;
    z-index: initial;
    visibility: visible;
    transition: none;
  }

  .reaction .reaction-item {
    color: var(--gray-color);
    font-size: var(--font-size-xs);
  }
}

@media (min-width: 1440px) {
  .projects {
    padding-top: calc(45 * var(--px-to-rem));
    padding-bottom: calc(49 * var(--px-to-rem));
  }

  .projects .section-title {
    font-size: 2.75rem;
    line-height: 3rem;
    letter-spacing: calc(-1.6 * var(--px-to-rem));
  }

  .projects .tab {
    margin-top: calc(33 * var(--px-to-rem));
    margin-bottom: 2.5rem;
    gap: calc(41 * var(--px-to-rem));
  }

  .projects .tab-item {
    letter-spacing: calc(2 * var(--px-to-rem));
  }

  .projects-list {
    grid-template-columns: repeat(4, 1fr);
    gap: calc(27 * var(--px-to-rem)) calc(30.67 * var(--px-to-rem));
  }

  .project {
    width: calc(262 * var(--px-to-rem));
    height: calc(262 * var(--px-to-rem));
  }

  .project-img {
    height: 12.5rem;
  }

  .reaction .reaction-item {
    font-size: var(--font-size-xs);
  }
}
